#header-text-container{
    padding:3em 1em 3em 1em;
    
}

#header-text-container header h1{
    font-size: 6em;
}

#header-image-container{
    padding: 2em 1em 3em 1em;
}

#header-image-container img{
   opacity: 0.8;
   padding: 2em 1em 3em 1em;
}

@media only screen and (max-width:800px){
    #header-image-container{
        display: none;
    }
}

